body {
  background-color: #0c212b;
  background-image: url("images/trees2.png");
  color: white;
  margin: 0px;
  font-family: 'Puritan', sans-serif;
  height: 1000px; /* You must set a specified height */
  background-position:  center top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 12px;
}

h1 {
  font-family: 'Rock Salt', cursive;
}

p {
  font-size: 1em;
}

ul {
padding: 0;
    margin: 50px 20px;
    list-style: none;
}

ul li {
    display: inline;
}

ul li img {
    display: block;
}

input[type=text], select, textarea {
  color: black !important;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

.about-me-blurb {
  font-size: 1.5em;
}

.btn-icon {
  margin: 0px 10px;
}

.carousel-style {
  width: 100%;
  height: 500px;
}

.center-text{
  text-align: center;
  padding: 20px;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.code-icon {
  width: 25%;
  margin: 10% 10% 10% 10%;;
}

.education-icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.header {
  text-align: center;
  padding: 32px;
}

.home-page {
  margin: 150px 0px 100px 0px;
}

.hobbies {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hobbies-b {
  display: inline-flex;
  margin: auto;
}

.icon-hover:hover {
  opacity: 50%;
}

.knowledge {
  margin: 50px  0px 50px 0px;
  text-align: center;
}

.knowledge-icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 100%;
  text-align: center;
}

.logo-hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

  .portfolio {
    max-width: 75%;
  }

  .portfolio-button {
    font-size: 20px;
    background-color: #0c212b;
    padding: 0px 25px;
    margin: 0px 20px;
    color: white;
    border: 1px solid grey;
    border-radius: 8px;
  }

  .portfolio-button:hover {
    background-color: #00494d;
  }

  .portfolio-image:hover{
    transform: scale(2);
  }

  .portfolio-image-horizontal:hover{
    transform: scale(3);
  }

  .portfolio-image-top:hover {
    transform: translate(12px, 50%) scale(2);
  }

  .portfolio-image-bottom:hover {
    transform: translate(12px, -60%) scale(2);
  }

  .portfolio-image-bottom-semi:hover {
    transform: translate(12px, -40%) scale(2);
  }

  .portfolio-image-bottom-semi:hover {
    transform: translate(12px, -50%) scale(2);
  }

  .portfolio-image-horizontal:hover{
    transform: scale(3);
  }

  .portfolio-image-horizontal-top:hover{
    transform: translate(12px, 100%) scale(3);
  }

  .portfolio-image-horizontal-bottom:hover{
    transform: translate(12px, -70%) scale(3);
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 20px;
  }

  .section-title {
    margin: 2% 0% 0% 0%;
  }

.website {
  width: 45%;
  margin: 2%;
}

.work-box {
  margin: 5%;
  background-color: white;
  opacity: 70%;
  color: #00494d;
  padding: 10px;
  text-align: center;
}

.work-grid {
  background-color: none;
}


/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.art-column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

#about-me {
  margin: 100px 100px 0px 100px;
}

#art {
  display: none;
}

#art-carousel {
  display: none;
}

#contact-background{
  background-image: url("images/forest.jpg");
  width: 100%; /* You must set a specified height */
  background-position:  center top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding: 125px;
}

#design-carousel {
  display: none;
}

#download-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#education {
  background-color:rgb(14,19,20,0.8);
  padding: 50px;
}

#hobbies1 {
  display:auto;
}

#hobbies2 {
  display:none;
  padding: 20px;
}

#photography {
  display: none;
}

#photography-carousel {
  display: none;
}

#portfolios{
  padding: 100px 0px;
}

#portfolio-title {
  padding: 0% 10%;
}

#website-title {
  padding: 10px;
}

#work {
  margin: 50px;
}

#work-background {
  background-image: url("images/conifers.png");
  background-position:  center top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

@media screen and (max-width: 1500px) {

  #hobbies1 {
    display:none;
  }

  #hobbies2 {
    display:inline;
  }

}

@media screen and (max-width: 1200px) {


  .column {
    -ms-flex: 20%;
    flex: 20%;
    max-width: 20%;
  }

  .art-column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
  }

  .button-group {
    text-align: center;
    padding: 20px 0px;
  }

  .portfolio-button {
    font-size: 20px;
    background-color: #0c212b;
    border: white;
    padding: 10px;
    color: white;
  }

  .portfolio-image:hover{
    transform: scale(3);
  }

  .portfolio-image-horizontal:hover{
    transform: scale(3);
  }

  .portfolio-image-top:hover {
    transform: translate(12px, 50%) scale(2.5);
  }

  .portfolio-image-bottom:hover {
    transform: translate(12px, -60%) scale(2.5);
  }

  .portfolio-image-bottom-semi:hover {
    transform: translate(12px, -40%) scale(3);
  }

  .portfolio-image-bottom-semi:hover {
    transform: translate(12px, -50%) scale(2.5);
  }

  .portfolio-image-horizontal:hover{
    transform: scale(3);
  }

  .portfolio-image-horizontal-top:hover{
    transform: translate(12px, 100%) scale(3);
  }

  .portfolio-image-horizontal-bottom:hover{
    transform: translate(12px, -70%) scale(3);
  }

  .section-title {
    margin: 50px 0px 0px 0px;
  }

.work {
  margin: 20px 0px;
}

#design-carousel {
  display: none;
}

#download-icon {
  width: 10%;
}

  #knowledge {
    padding: 25px 0px;
  }

  #my-portrait {
    display: none;
  }

  #portfolio-title {
    padding:0px;
    text-align: center;
  }

  #work {
    margin: 0px 0px 0px 0px;
  }


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
  p {
    font-size: 1em;
  }

  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .education-icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .home-page {
    margin: 25px;
  }

  .large-portfolio {
    display: none;
  }

  .portfolio {
    max-width: 100%%;
  }

  .portfolio-button {
    font-size: 20px;
    background-color: #0c212b;
    border: white;
    padding: 10px;
    color: white;
  }

  .hobbies-b {
    display: inline-flex;
    margin: auto;
    transform: scale(.5);
  }

.portfolio-image:hover{
  transform: scale(2);
}

.portfolio-image-horizontal:hover{
  transform: scale(2);
}

.portfolio-image-top:hover {
  transform: scale(2);
}

.portfolio-image-bottom:hover {
  transform: scale(2);
}

.portfolio-image-bottom-semi:hover {
  transform: scale(2);
}

.portfolio-image-bottom-semi:hover {
  transform: scale(2);
}

.portfolio-image-horizontal:hover{
  transform: scale(2);
}

.portfolio-image-horizontal-top:hover{
  transform:  scale(2);
}

.portfolio-image-horizontal-bottom:hover{
  transform: scale(2);
}

#about-me {
  margin: 100px 50px 0px 50px;
}

#design-carousel {
  display: inherit;
}

#download-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

#education {
  background-color:rgb(14,19,20,1);
  padding: 50px;
}

#knowledge{
  padding-top: 5px;
}



#work {
  margin: 5%;
}

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
}

.education-icons {
  display: none;
}


}
